*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto",sans-serif;
    font-size: 1em;
    line-height: 135%;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    background: #FEFBF1;
    max-width: 720px;
    width: 100%;
    height: 100%;
    color: #703412;

}

a{
    color: #8be4f4;
    text-decoration:none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -ms-transition: all.6s ease;
}

a:hover{
    color: #8bf4e3;
    text-decoration:none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -ms-transition: all.6s ease;
}

a:active {color: #084935;}

/* Selection block */
::selection {background: #8be4f4; color: aquamarine;}
::-moz-selection {background: #8be4f4; color: aquamarine;}
::-webkit-selection {background: #8be4f4; color: aquamarine;}

img{
    max-width: 100%;
    height: auto;
    width: auto\9; /* для коректного сжатия избр*/
}


.block{
    margin: auto;
    text-align: center;

}

/* .layer {
    width: 100%;
    height: 61px;
    top: 7px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    display: flex;
    overflow: auto; 
    margin-top: 5px;
    background: #c09c26;
} */

header{
    height: 61px;
    top: 7px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    display: flex;
    overflow: auto; 
    margin-top: 5px;
    background: #FEFBF1;
    width: 98%;
    min-height: 50px;
    
}

header{
    border-bottom: 2px solid silver;
    padding: 1%;
}

footer{
    background-color:#084935;
    color: #fcfcfc;
    width: 98%;
    min-height: 50px;
    margin-top: 10px;
}

#Blog{
    width: 30px;
    height: 21px;
    top: 27px;
    left: 503px;
    gap: 0px;
    opacity: 0px;
 
}

#Press{
    width: 36px;
    height: 21px;
    top: 27px;
    left: 573px;
    gap: 0px;
    opacity: 0px;   
    margin-left: 40px;    
}

#Join{
    width: 48px;
    height: 21px;
    top: 27px;
    left: 649px;
    gap: 0px;
    opacity: 0px;
    margin-left: 40px;

}

.lock{
    width: 160px;
    height: 44px;
    top: 188px;
    left: 72px;
    gap: 0px;
    opacity: 0px;
       
}